<ul id="products">
    {{#each products}}
    <li>
        <p>Producto: {{title}} - Precio: {{price}}</p>
    </li>
    {{/each}}
</ul>

<form id="formulario" action="">
    <label for="title">Producto: </label>
    <input type="text" id="title" name="title">
    <label for="price">Precio: </label>
    <input type="text" id="price" name="price">
    <button type="submit"> Enviar </button>
</form>



<script src="./socket.io/socket.io.js"></script>

<script>

    const socket = io();

    socket.on('chatRoom1', data => console.log(data));

    const products = document.getElementById("products");
    const formulario = document.getElementById("formulario");

    formulario.addEventListener("submit", function (event) {
        event.preventDefault();

        const titleInput = document.getElementById("title").value;
        const priceInput = document.getElementById("price").value;

        const listItem = document.createElement('li');
        listItem.textContent = `Producto: ${titleInput} - Precio: ${priceInput}`
        products.appendChild(listItem);

        socket.emit('chatRoom1', `Se agrego el producto ${titleInput}, con el precio ${priceInput}`)

    })



</script>