<h3>¡Hola {{username}}!</h3>
<p>Cambie su contraseña aqui: </p>

<label for="password"> Contraseña </label><input id="password" type="text">
<label for="confPassword"> Confirmar contraseña</label><input id="confPassword" type="text">
<label for="tokenConf"> Ingrese su token</label><input id="tokenConf" type="text">
<button data-id="{{token}}" username="{{username}}" id="enviar"> Enviar </button>

<script>
    const button = document.getElementById("enviar");

    button.addEventListener("click", (e) => {
        const password = document.getElementById("password").value;
        const confPassword = document.getElementById("confPassword").value;
        const tokenConf = document.getElementById("tokenConf").value;
        const token = event.target.getAttribute("data-id");
        const username = event.target.getAttribute("username");

        const data = {
            password: password,
            confPassword: confPassword,
            tokenConf: tokenConf,
            token: token,
            username: username
        }

        console.log(data);

        fetch("http://localhost:8081/api/session/changePassword", {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify(data)
        })
            .then(response => response.json())
            .then(responseData => {
                console.log(responseData);
            })
            .catch(error => {
                console.error("Error al realizar la solicitud:", error);
            });
    })

</script>